{
  "presets": [
    [
      "es2015-rollup"
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  },
  "plugins": [
    "transform-object-rest-spread"
  ]
}